.section-cities {
  grid-column: center-start / center-end;

  &__cities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    padding: 2rem 0;
  }

  &__city-img {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__city-feature {
    margin-bottom: 0.5rem;
  }
}
