.section-features {
  grid-column: center-start / center-end;

  display: grid;
  row-gap: 4.5rem;
  // grid-template-rows: repeat(2, 1fr);

  .description {
  }

  .features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
  }

  .feature {
    &__text {
      font-size: 90%;
      line-height: 145%;
    }
  }
}
