.header {
  padding: 2rem;
  grid-column: full-start / full-end;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: grid;
  grid-template-rows: max-content repeat(6, 1fr);
  grid-template-columns:
    [full-start] 1fr
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] 1fr [full-end];
  align-items: end;

  &__text-box {
    grid-column: center-start / center-end;
    grid-row: 4 / 5;
  }
}
