// HEADER //
.header {
  padding: 2rem;
  grid-column: full-start / full-end;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: grid;
  grid-template-rows: max-content repeat(6, 1fr);
  grid-template-columns:
    [full-start] 1fr
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] 1fr [full-end];
  align-items: end;

  &__text-box {
    grid-column: center-start / center-end;
    grid-row: 4 / 5;

    @media only screen and (max-width: $bp-largest) {
      padding: 0 2rem;
    }
  }
}

// FOOTER //
.footer {
  grid-column: full-start / full-end;
  background: var(--color-grey-dark-4);
  padding: 5rem;
  font-size: 80%;

  &__content {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__copy {
    color: #888;
    text-align: center;
    margin-top: 2rem;
  }

  &__nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    column-gap: 2.3rem;
  }

  &__social {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 2.3rem;
    justify-self: end;

    &--vk,
    &--linkedin,
    &--twitter,
    &--instagram {
      transition: color 0.2s;
    }

    &--vk:hover {
      color: #45668e;
    }

    &--linkedin:hover {
      color: #007bb5;
    }

    &--twitter:hover {
      color: #55acee;
    }

    &--instagram:hover {
      color: #cd486b;
    }
  }

  &__nav li a:link,
  &__nav li a:visited,
  &__social li a:link,
  &__social li a:visited {
    text-decoration: none;
    border: 0;
    color: var(--color-grey-dark-2);
    transition: color 0.2s;
  }

  &__nav li a:hover,
  &__nav li a:active {
    color: #ddd;
  }

  &__social li a:link,
  &__social li a:visited {
    font-size: 160%;
  }
}

// NAVIGATION //
.navigation {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: end;

  &__logo {
    width: 10rem;
    height: 10rem;
    display: block;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 4rem;
    justify-items: start;
  }

  &__link {
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 90%;
      padding: 0.8rem 0;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
    }

    &:hover,
    &:active {
      border-bottom: 2px solid var(--color-primary);
    }
  }
}

// FORMS //
.contact-form {
  width: 70%;
  margin: 0 auto;

  &__field {
    padding: 0 2%;
    display: grid;
    grid-template-columns: [left-start] 1fr [left-end right-start] 2fr [right-end];

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__label {
    grid-column: left-start / left-end;
  }

  &__input,
  &__input::-webkit-input-placeholder {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: var(--color-grey-dark-2);
  }

  input[type='submit'] {
    margin-top: 1rem;
    justify-self: start;
  }

  input[type='text'],
  input[type='email'],
  select,
  textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  textarea {
    height: 10rem;
  }

  input[type='checkbox'] {
    margin: 1rem 0.5rem 1rem 0;
  }

  *:focus {
    outline: none;
    box-shadow: 0 3px 5px var(--color-grey-light-3);
  }
}
