.navigation {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: end;

  &__logo {
    width: 10rem;
    height: 10rem;
    display: block;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 4rem;
    justify-items: start;
  }

  &__item {
  }

  &__link {
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 90%;
      padding: 0.8rem 0;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
    }

    &:hover,
    &:active {
      border-bottom: 2px solid var(--color-primary);
    }
  }
}
