.section-steps {
  background-color: var(--color-grey-light-2);
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns:
    [full-start] minmax(3rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(3rem, 1fr) [full-end];
  row-gap: 1rem;

  h2 {
    grid-column: center-start / center-end;
  }

  &__content {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    column-gap: 7%;
  }

  &__left-part {
    display: grid;
  }

  &__app-screen {
    width: 40%;
    display: block;
    justify-self: end;
  }

  &__right-part {
    display: grid;
    row-gap: 4.5rem;
  }

  &__step {
    display: grid;
    grid-template-columns: max-content 1fr;

    div {
      color: var(--color-primary);
      border: 2px solid currentColor;
      border-radius: 50%;
      height: 5.5rem;
      width: 5.5rem;
      text-align: center;
      padding: 0.5rem;
      font-size: 150%;
      margin-right: 2.5rem;
    }
  }

  &__buttons {
    margin-top: 2rem;
  }

  .btn-app:link,
  .btn-app:visited {
    border: 0;
  }

  .btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
}
