/* HEADINGS */
.heading-1,
.heading-2,
.heading-3 {
  font-weight: 300;
  text-transform: uppercase;
}

.heading-1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.heading-2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;

  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--color-primary);
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.heading-3 {
  font-size: 110%;
  margin-bottom: 15px;
}

.long-copy {
  line-height: 145%;
  margin: 0 15%;
}
