/* HEADINGS */
.heading-1,
.heading-2,
.heading-3 {
  font-weight: 300;
  text-transform: uppercase;
}

.heading-1 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;

  @media only screen and (max-width: $bp-medium) {
    font-size: 180%;
  }
}

.heading-2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 1px;

  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--color-primary);
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 150%;
  }
}

.heading-3 {
  font-size: 110%;
  margin-bottom: 1.5rem;
}

.long-copy {
  line-height: 145%;
  margin: 0 13%;

  @media only screen and (max-width: $bp-large) {
    margin: 0 10%;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 0 5%;
  }
}
